// Button
.btn {
  background: $maroon;
  color: $almostwhite;
  padding: 1.5em;
  margin: 1em 2em;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $maroon;
  box-sizing: border-box;
  &:hover, &:active {
    background: lighten($maroon, 10%);
    box-shadow: 0 0 5px $mediumgray;
    border-color: $darkgray;
  };
  &:active {
    box-shadow: inset 0 0 10px $mediumgray;
  }
}

.btn-sm {
  padding: 1em;
  margin: auto;
}