// Button
.btn {
  background: $maroon;
  color: $almostwhite;
  padding: 1.5em;
  margin: 1em 2em;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: lighten($maroon, 10%);
    box-shadow: 0 0 10px $mediumgray;
  };
  &:active {
    box-shadow: inset 0 0 10px $mediumgray;
    border: 1px solid $darkgray;
  }

}