// Cart
#cart-container {
  grid-area: cart;
}

#cart {
  background: #ccc;
  color: black;
  padding: 1em;
  border: 1px solid $gray;
  border-radius: 5px;
  overflow-y: scroll;
}

.cart-item {
  height: 2rem;
  display: flex;
  align-items: center;
}

select {
  width: 100%;
}