// Break it down....

@media (max-width: 800px) {  
  main {
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'inventory'
                         'cart';
  }

  nav, footer {
    display: none;
  }
  
  #cart-container {
    width: 100%;
  }

  .inventory {
    width: 100%;
    display: block
  }

  .inv-content {
    flex-direction: column;
    align-content: center;
  }
}